# Database
DATABASE_URL=postgresql://user:password@host/database?sslmode=require

# Stripe
STRIPE_SECRET_KEY=sk_test_your_stripe_secret_key
STRIPE_PUBLISHABLE_KEY=pk_test_your_stripe_publishable_key

# Google Auth
GOOGLE_WEB_CLIENT_ID=your_google_web_client_id
